extends template/layout

block header

block js

block content
	div(data-ng-controller='photoController')
		div.col-sm-4.col-md-3(ng-repeat='photo in photos')
			div.thumbnail
				img(src='{{photo.path}}')
				div.caption
					h3.center-text {{photo.name}}
					h4.center-text By {{photo.artist}}
					h5.center-text From {{photo.collection}}
					p.center-text {{photo.description}}
							
