extends template/layout

block header

block js

block content
	div(ng-show='state.page=="photo"')
		div.col-sm-12.col-md-3(ng-repeat='photo in photos')
			div.thumbnail
				img(src='{{photo.path}}')
				div.caption
					h3.center-text {{photo.name}}
					h4.center-text(ng-click='artistRoute(photo.user_id)') By {{photo.artist}}
					h5.center-text(ng-click='collectionRoute(photo.collection_id)') From {{photo.collection}}
					p.center-text {{photo.description}}
				

	div(ng-show='state.page=="artist"')
		div.row
			div.col-sm-12.col-md-4
				img(src='{{artist.img}}', style='width: 100%;')
			div.col-sm-12.col-md-4
				h3 About
				p {{artist.description}}
			div.col-sm-12.col-md-4
				h3 Collections
				div(ng-repeat='coll in colls')
					p(ng-click='collectionRoute(coll.id)',
						ng-show='coll.owner_id==artist.id') {{coll.name}} -- {{coll.description}}

	div(ng-show='state.page=="profile"')
		p
		div.row
			div.col-sm-6.col-md-4
				div.thumbnail
					img(src='/{{currUser.img}}')
					div.caption
						form(method='POST', action='/artists/{{currUser.id}}/edit', enctype='multipart/form-data')
							input.form-control(type='file', name='img')
							input.form-control(type='text', ng-model='currUser.name', name='name')
							textarea.form-control.contenteditable(ng-model='currUser.description', name='description')
							input.btn.btn-primary.pull-right(type='submit', value='Save')
							br
							br
			div.col-sm-6.col-md-4
				div.thumbnail
					h3 Add pictures.
					form(method='POST', action='/photos', enctype='multipart/form-data')
						select.form-control(name='coll_id')
							option(ng-repeat='coll in colls', ng-show='coll.owner_id==currUser.id', 
								value='{{coll.id}}', name='coll_id') {{coll.name}}
						input.form-control(type='file', name='files', multiple)
						div.input-group
							span.input-group-addon $
							input.form-control(type='number', min='1', name='price', placeholder='Price')
							span.input-group-addon .00
						input.btn.btn-primary.pull-right(type='submit', value='Upload')
						br
						br
			div.col-sm-6.col-md-4
				div.thumbnail
					div.caption
						h3 Create Collection.
						input.form-control(type='text', placeholder='Collection Name', ng-model='newColl.name')
						textarea.form-control(placeholder='Description', ng-model='newColl.desc')
						button.btn.btn-primary.pull-right(ng-click='createCollection()', value='Create') Create
						br
						br
	div(ng-show='state.page=="admin"')
		div.col-sm-6.col-md-6
			div(ng-repeat='(index, photo) in processed')
				div.col-sm-6.col-md-6
					div.thumbnail
						img(src='{{photo.path}}')
						div.caption
							p.center-text {{photo.artist}} - {{photo.email}}
							button.btn.btn-success.pull-left(ng-click='respond(photo, "accept", index)') Accept
							button.btn.btn-danger.pull-right(ng-click='respond(photo, "reject", index)') Reject
							br
							br

	div(ng-show='state.page=="myPhotos"')
		div.col-sm-12.col-md-3(ng-repeat='photo in photos', ng-show='currUser.id==photo.user_id')
			div.thumbnail
				img(src='{{photo.path}}')
				div.caption
					h3.center-text {{photo.name}}
					input.form-control(type='text', ng-model='tsearch', placeholder='Start typing tag name')
					p.text-center(title='{{tagHelp}}') Hover for Help
					span(ng-repeat="tag in tags | orderBy:'name' | filter:tsearch | limitTo:1")
						button.btn.btn-default.pull-left Add {{tag.name}} Tag
					button.btn.btn-default.pull-right(ng-show='tsearch') Create {{tsearch}} Tag
					br
					br
					h5.center-text Tags: {{photo.tags}}