html(data-ng-app='snap')
	head
		title #{settings.title}
		//- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		//- link(rel='stylesheet', href='/stylesheets/b1.min.css')
		//- link(rel='stylesheet', href='/stylesheets/b2.min.css')
		link(rel='stylesheet', href='/stylesheets/b3.min.css')
		//- link(rel='stylesheet', href='/stylesheets/b4.min.css')
		//- link(rel='stylesheet', href='/stylesheets/b5.min.css')
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		block header
	body(data-ng-controller='appController' data-ng-init='photoRoute()')
		include nav
		div.fluid-container#content
			include message
			h1 {{ state.name }}
			block content
		//- include footer

		script(src='/javascripts/jQuery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/angular.min.js')
		script(src='/javascripts/angular-animate.min.js')
		script(src='/javascripts/angular-resource.min.js')
		script(src='/javascripts/cli.js')
		script(src='/javascripts/factories.js')
		block js
